#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
  justify-content: center;
  margin:  30px 0;
}

.container button {
  color: aqua;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
}

.container button:hover,
.container button:focus {
  outline: 2px solid aqua;
}

h1.winner {
  color: green;
}

.reset-btn {
  background-color: rgb(40, 215, 215);
}